<div class="contents row">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card white">
        <div class="card-content grey-text">
          <span class="card-text"></span>
          <%= simple_format(tweet.text) %>
        </div>
        <div class="card-action">
          <%= link_to 'SHOW', tweet_path(tweet.id), method: :get, class: "waves-effect waves-light btn" %>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <%= link_to 'EDIT', edit_tweet_path(tweet[:id]), method: :get, class: "waves-effect waves-light btn" %>
          <%= link_to 'DELETE', tweet_path(tweet.id), method: :delete, class: "waves-effect waves-light btn" %>
        <% end %>
        </div>
      </div>
    </div>
    </div>
</div>

